@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-color: #1a0b2e;
  --secondary-color: #6700cd;
  --gradient-color: linear-gradient(
    15deg,
    rgba(247, 233, 63, 1) 10%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
  background-color: var(--primary-color);
}
.logo {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
}
.logo span {
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
ul {
  display: flex;
  gap: 32px;
}
ul li {
  list-style: none;
  line-height: 120%;
}
ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
.btn_primary {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: var(--gradient-color);
  padding: 12px 16px;
  /* border: 2px solid transparent; */
  border: none;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      220deg,
      rgba(247, 233, 63, 1) 10%,
      rgba(251, 9, 180, 1) 50%,
      rgba(145, 0, 248, 1) 100%
    );
  }
}
hr {
  border: 1px solid var(--secondary-color);
}
#banner .banner_image img {
  width: 100%;
  background-position: center;
}
#banner {
  position: relative;
}
#banner .banner_image {
  position: absolute;
  inset: 0;
  z-index: 1;
}
#banner .banner_contents {
  position: relative;
  z-index: 2;
}
.circle_container {
  position: relative;
  display: inline-block;
}
.mic {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle_container {
  position: relative;
  top: 90px;
  left: 615px;
}
.banner_info {
  text-align: center;
  padding-top: 100px;
}
.banner_info h1 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 8px;
}
.banner_info p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 24px;
}
.new {
  width: 75px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #00ff88;
  box-shadow: #00ff88 0px 0px 8px 0px;
  color: #000;
  position: absolute;
  top: 15px;
  right: 5px;
}
.btn_secondary {
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
  padding: 12px 20px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    background: var(--gradient-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
}
