@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-color: #1a0b2e;
  --secondary-color: #3b0076;
  --gradient-color: linear-gradient(
    15deg,
    rgba(247, 233, 63, 1) 10%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
  background-color: var(--primary-color);
}
.logo {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
}
.fa-bars {
  display: none;
}
.logo span {
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
ul {
  display: flex;
  gap: 32px;
}
ul li {
  list-style: none;
  line-height: 120%;
}
ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
.btn_primary {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: var(--gradient-color);
  padding: 12px 16px;
  /* border: 2px solid transparent; */
  border: none;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      220deg,
      rgba(247, 233, 63, 1) 10%,
      rgba(251, 9, 180, 1) 50%,
      rgba(145, 0, 248, 1) 100%
    );
  }
}
hr {
  border: 1px solid var(--secondary-color);
  max-width: 1600px;
  margin: 0 auto;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
#banner .banner_image img {
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

#banner .banner_image {
  position: absolute;
  inset: 0;
  z-index: 1;
}
#banner .banner_contents {
  position: relative;
  z-index: 2;
}
.circle_container {
  position: relative;
  display: inline-block;
  top: 90px;
  left: 0;
}
.orbit {
  width: 85%;
  height: auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle_container img:first-child {
  width: 85%;
  height: auto;
}
.circle_container {
  width: 420px;
}
.mic {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner_info {
  text-align: center;
  padding-top: 100px;
}
.banner_info h1 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 8px;
}
.banner_info p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  opacity: 60%;
  padding-bottom: 24px;
}
.new {
  width: 75px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #00ff88;
  box-shadow: #00ff88 0px 0px 8px 0px;
  color: #000;
  position: absolute;
  top: 25px;
  right: 35px;
}
.btn_secondary {
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
  padding: 12px 20px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 100px;
  &:hover {
    background: var(--gradient-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
}

#about .about_container {
  text-align: center;
  background: var(--primary-color);
}
#about .about_data h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
#about .about_data p {
  font-size: 16px;
  font-weight: 250;
  line-height: 20px;
  color: #fff;
  opacity: 60%;
  padding: 10px;
}
#about .about_data p:nth-child(5) {
  margin-top: 20px;
}
#about hr {
  border: 1px solid var(--secondary-color);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
#about .about_details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
  padding-bottom: 120px;
}
#about .about_details h3 {
  font-size: 48px;
  font-weight: 800;
  color: #00ff88;
  letter-spacing: 2px;
}
#about .about_details p {
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  line-height: 20px;
  margin-top: 16px;
}
#features .features_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}
#features .features_body {
  width: 100%;
  background-color: #230e3d;
}
#features .features_contents h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  padding-top: 120px;
  margin-bottom: 40px;
  text-align: center;
}
#features .features_container > * {
  /* border: 2px solid var(--secondary-color); */
  padding: 30px;
  background-color: rgba(53, 17, 101, 0.4);
  color: #fff;
  border-radius: 40px;
}
.premium {
  grid-area: premium;
}
.premium img {
  margin-top: 100px;
}
.premium p,
.resourses p {
  max-width: 300px;
}
.mobile {
  grid-area: mobile;
}
.mobile img {
  margin-top: 30px;
}
.global {
  grid-area: global;
}
.global img {
  margin-top: 20px;
}
.interviews {
  grid-area: interviews;
}
.interviews img {
  margin-top: 30px;
}
.resourses {
  grid-area: resourses;
}
.resourses img {
  margin-top: 40px;
}
#features .features_container .premium h3,
.mobile h3,
.global h3,
.interviews h3,
.resourses h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}
#features .features_container .premium p,
.mobile p,
.global p,
.interviews p,
.resourses p {
  font-size: 16px;
  font-weight: 300;
  opacity: 60%;
  padding: 16px 0px;
  line-height: 24px;
}
#features .features_container {
  display: grid;
  gap: 30px;

  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "interviews interviews resourses";
}

#episodes .container {
  background-color: var(--primary-color);
}
#episodes h3 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
#episodes .episodes_container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 120px;
}
.episodes_card {
  background-color: #250d44;
  border-radius: 20px;
}
.episodes_card h4 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  max-width: 330px;
  padding: 24px 25px 0px 24px;
}
.episodes_card p {
  font-size: 16px;
  color: #fff;
  opacity: 60%;
  font-weight: 300;
  line-height: 24px;
  max-width: 330px;
  padding: 24px 25px 0px 24px;
}
.episodes_card h5 {
  font-size: 16px;
  color: #00ff88;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 25px 12px 24px;
}
.episodes_card h5 i {
  padding-right: 6px;
}

.episodes_card iframe {
  width: 330px;
  height: 214px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#episodes .host_container h2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.host_container .host_contents {
  display: flex;
  justify-content: center;
  max-width: 1120px;
  margin: 0 auto;
  background-color: rgb(53, 17, 101, 0.4);
  border-radius: 40px;
}
.host_image img {
  padding: 40px 24px 40px 40px;
}
.host_details h6 {
  font-size: 32px;
  font-weight: 650;
  color: #fff;
  margin-top: 48px;
}
.host_details p {
  font-size: 16px;
  color: #fff;
  opacity: 60%;
  font-weight: 300;
  line-height: 24px;
  max-width: 896px;
  padding: 16px 40px 16px 0px;
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social_icons img {
  padding: 10px 15px 10px 15px;
  margin-top: 5px;
}
.social_icons .icon_cotainer {
  border: 2px solid #533c72;
  border-radius: 50%;
}
.host_container {
  padding-bottom: 120px;
}

footer .footer_image img {
  width: 100%;
  max-width: 1600px;
  display: block;
  background-position: center;
}
.footer_details {
  margin-top: 120px;
  text-align: center;
}
footer .footer_contents {
  position: relative;
}
footer .footer_image {
  position: relative;
  z-index: 1;
}
footer .footer_details {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.footer_icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 32px 0px 32px 0px;
}
.footicon_container {
  display: flex;
  gap: 8px;
}
.footicon_container p,
.footer_details {
  font-size: 16px;
  color: #fff;
  opacity: 60%;
  font-weight: 300;
}

/* mobile responsive */
@media (max-width: 576px) {
  .logo {
    font-size: 30px;
  }
  ul {
    display: none;
  }
  .btn_primary {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
  }
  header nav {
    padding: 20px 0px 20px 20px;
  }
  .circle_container {
    width: 200px;
    top: 90px;
  }
  .circle_container img:first-child {
    width: 100%;
    height: auto;
  }
  .mic {
    width: 70px;
  }
  .new {
    width: 60px;
    font-size: 14px;
    padding: 6px 12px;
    top: 10px;
    right: 5px;
  }
  #banner {
    min-height: 100vh;
  }
  #banner .banner_image img {
    width: 100%;
    min-height: 466px;
  }
  .btn_secondary {
    margin-bottom: 40px;
  }
  .banner_info {
    text-align: center;
    margin: 0 auto;
  }
  .banner_info h1 {
    font-size: 40px;
  }
  .banner_info p {
    display: inline-block;
    max-width: 90%;
  }
  #about .about_data h3 {
    font-size: 32px;
    margin-top: 40px;
  }
  #about .about_data p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    line-height: 15px;
    max-width: 430px;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
  }
  #about hr {
    margin-top: 40px;
  }
  #about .about_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    gap: 40px;
    padding-bottom: 40px;
  }
  #features .features_container {
    grid-template-columns: 1fr;
    gap: 0px;
    grid-template-areas:
      "premium"
      "mobile"
      "global"
      "interviews"
      "resourses";
  }
  #features .features_contents h1 {
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 16px;
  }
  #features .features_container > * {
    margin: 20px 20px 0px 20px;
  }
  .premium img,
  .interviews img,
  .resourses img {
    margin-top: 20px;
  }
  .premium p,
  .resourses p {
    max-width: 400px;
  }
  #features .features_container {
    padding-bottom: 40px;
  }
  #episodes h3 {
    padding: 40px 20px 24px 20px;
    font-size: 32px;
  }
  #episodes .episodes_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 60px;
  }
  .episodes_card {
    background-color: #250d44;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
  }
  .episodes_card h4 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    max-width: 530px;
    padding: 10px 25px 0px 24px;
  }
  .episodes_card p {
    padding: 5px 25px 0px 24px;
  }
  .episodes_card h5 {
    padding: 10px 25px 20px 24px;
  }
  .episodes_card iframe {
    width: 100%;
    max-width: 536px;
    height: 214px;
  }
  #episodes .host_container h2 {
    font-size: 32px;
    padding-bottom: 24px;
  }
  .host_container {
    padding-bottom: 40px;
  }
  .host_container .host_contents {
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  .host_image img {
    width: 100%;
    padding: 24px 24px 16px 40px;
  }
  .host_details h6 {
    font-size: 24px;
    margin-top: 0px;
  }
  .host_details p {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px 0px 16px 0px;
  }
  .social_icons {
    justify-content: center;
    padding-bottom: 24px;
  }
  .footer_details {
    margin-top: 40px;
  }
  .footer_icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 20px;
  }
  footer .footer_image img {
    min-height: 50vh;
    height: auto;
  }
}
